.boton-contenedor {
  height: 63px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color:#c5d0e8;
  color: #0c3b38;
  border-radius: 25px;
  border: 2px solid #0c3b38;
  margin: 2px;
  cursor: pointer;
  user-select: none;
}

.boton-contenedor:hover {
  background-color:  #2B3467;
  color: white;
}

.operador {
  background-color:  #d1ba5b;
}

.operador:hover {
  background-color: #601568;
  color: white;
}