.App {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,59,56,1) 47%, rgba(0,212,255,1) 100%);
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.contenedor-calculadora {
  width: 300px;
  height: 500px;
  padding: 14px;
  margin-top: 45px;
  margin-bottom: 36px;
  background-color: #060e0a;
  border-radius: 20px;
  border: 5px solid #c5d0e8;
  box-shadow:  5px 5px 10px #040806,
              -5px -5px 10px #08140e;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nombre {
  position: absolute;
  bottom: -59px;
  right: 88px;
  margin: 68px;
  color: #060e0a;
  font-family: serif, sans-serif;
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 0.5px;
  cursor: default;
}

.icons {
  position: absolute;
  bottom: -40px;
  right: 20px;
  margin: 48px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.icono-github {
  font-size: 35px;
  margin-right: 5px;
  border-radius: 50%;
  transition: 0.3s;
  transition-property: box-shadow;
}
  
.icono-github:hover {
  color: #c9d1d9;
}

.icono-linkedin {
  font-size: 35px;
  border-radius: 50%;
  transition: 0.3s;
  transition-property: box-shadow;
}

.icono-linkedin:hover {
  color: #00f;
}


