.App {
  background-color: #0c3b38;
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.contenedor-calculadora {
  width: 300px;
  height: 500px;
  padding: 14px;
  margin-top: 45px;
  margin-bottom: 36px;
  background-color: #060e0a;
  border-radius: 20px;
  border: 5px solid #c5d0e8;
  position: relative;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMe {
  position: fixed;
  bottom: -59px;
  right: 88px;
  margin: 68px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nombre {
  color: #c5d0e8;
  font-family: serif, sans-serif;
  font-style: italic;
  font-size: 15px;
  cursor: default;
}

.icons {
  position: fixed;
  bottom: -40px;
  right: 20px;
  margin: 48px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.icono-github {
  font-size: 35px;
  margin-right: 5px;
  border-radius: 50%;
  transition: 0.3s;
  transition-property: box-shadow;
}
  
.icono-github:hover {
  box-shadow: 
              0 0 12px #c9d1d9;
  color:#c9d1d9 ;
}


.icono-linkedin {
  font-size: 35px;
  border-radius: 50%;
  transition: 0.3s;
  transition-property: box-shadow;
}

.icono-linkedin:hover {
  box-shadow: 
              0 0 12px #0a66c2;
  color: #0a66c2;
}


